---
layout: page
title: Articles
subtitle: About some of my Experinces
desc: Some of My Experiences
---
{% if paginator.page == 1 %}
  {% for post in site.posts limit: 2 %}
<link rel="prerender" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">
  {% endfor %}
{% endif %}

<ul class="post-list">
  {% for post in paginator.posts %}
  <li class="post">
    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
      <h4 class="post-title">{{ post.title }}</h4>
      <time class="post-date" datetime="{{ post.date }}">
      {% assign d = post.date | date: "%-d" %}
      {% assign m = post.date | date: "%B" %}
      {% case m %}
        {% when 'April' or 'May' or 'June' or 'July' %}{{ m }}
        {% when 'September' %}Sept.
        {% else %}{{ post.date | date: "%b" }}.
        {% endcase %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
      {{ post.date | date: "%Y" }}
      </time>
      <p class="post-desc">{% if post.desc %}{{ post.desc }}{% else %}{{ post.excerpt }}{% endif %}</p>
    </a>
  </li>
  {% endfor %}
</ul>
<!-- post-list -->

<ol class="pager">
  {% if paginator.previous_page %}
  <li class="pager-prev">
    <a href="{{ paginator.previous_page_path }}">Previous</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="pager-next">
    <a href="{{ paginator.next_page_path }}">Next</a>
  </li>
  {% endif %}
</ol>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "AIESEC Trip to Egypt",
  "image": {
    "@type": "ImageObject",
    "url": "https://instagram.fmaa1-2.fna.fbcdn.net/t51.2885-15/e35/10598235_1664301683843152_642122967_n.jpg?ig_cache_key=MTE1MjU0MjMzODI4NDQyNTU0Ng%3D%3D.2",
    "height": 800,
    "width": 800
  },
  "datePublished": "2015-02-05T08:00:00+08:00",
  "dateModified": "2015-02-05T09:20:00+08:00",
  "author": {
    "@type": "Person",
    "name": "Rishi Raj"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Rishi Raj",
    "logo": {
      "@type": "ImageObject",
      "url": "https://rishiraj.co/assets/img/logo.png",
      "width": 600,
      "height": 60
    }
  },
  "description": "About my AIESEC Trip to Egypt"
},
{
  "@context": "http://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://google.com/article"
  },
  "headline": "15 FAQs about Google Summer of Code",
  "image": {
    "@type": "ImageObject",
    "url": "https://camo.githubusercontent.com/ed508e9c66d718f76333215a139af24f8bb8fa8d/68747470733a2f2f6d75736573636f72652e6f72672f73697465732f6d75736573636f72652e6f72672f66696c65732f4361707475726525323064253237652543432538316372616e253230323031362d30332d303125323030392e34382e31315f302e706e67",
  },
  "datePublished": "2018-02-23T08:00:00+08:00",
  "dateModified": "2018-02-23T09:20:00+08:00",
  "author": {
    "@type": "Person",
    "name": "Rishi Raj"
  },
   "publisher": {
    "@type": "Organization",
    "name": "Rishi Raj",
    "logo": {
      "@type": "ImageObject",
      "url": "https://camo.githubusercontent.com/ed508e9c66d718f76333215a139af24f8bb8fa8d/68747470733a2f2f6d75736573636f72652e6f72672f73697465732f6d75736573636f72652e6f72672f66696c65732f4361707475726525323064253237652543432538316372616e253230323031362d30332d303125323030392e34382e31315f302e706e67",
    }
  },
  "description": "15 FAQs about Google Summer of Code"
}
</script>
